---
layout: page
tagline:
---
<!-- fix the page -->
{% for post in paginator.posts %}
<head>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#d88e09">
</head>
<article class="home">

  <span class="post-date">
    {% assign d = post.date | date: "%d" | plus:'0' %}
    {{ post.date | date: "%B" }}
    {% case d %}
    {% when 1 or 21 or 31 %}{{ d }}st,
    {% when 2 or 22 %}{{ d }}nd,
    {% when 3 or 23 %}{{ d }}rd,
    {% else %}{{ d }}th,
    {% endcase %}
    {{ post.date | date: "%Y" }}
  </span>

  <h2>
    <a href="{{ site.BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
  </h2>

  <div>
    <div class="post-content">
        {{ post.content }}
    </div>

    <section class="share">
      <h4 class="section-title">Share Post</h4>
      <a class="btn btn-default btn-sm facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://culturepen.com{{post.url}}&amp;src=sdkpreparse"
          onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
        <i class="fa fa-facebook fa-lg"></i>
        Facebook
      </a>
      <a class="btn btn-default btn-sm twitter" href="http://twitter.com/share?text={{ post.title }} http://culturepen.com{{ post.url }}&via={{ site.author.twitter }}"
          onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
        <i class="fa fa-twitter fa-lg"></i>
        Twitter
      </a>
      <a class="btn btn-default btn-sm gplus"
          onclick="window.open('https://plus.google.com/share?url=http://culturepen.com{{post.url}}', 'google-plus-share', 'width=490,height=530');return false;">
        <i class="fa fa-google-plus fa-lg"></i>
        Google+
      </a>
    </section>

  </div>
  
</article>
{% endfor %}
<hr/>

<ul class="pager"> 

  {% if paginator.previous_page %}
  <li class="previous">
    {% if paginator.previous_page == 1 %}
    <a href="{{ site.BASE_PATH }}/">&larr; Newer</a>
    {% else %}
    <a href="{{ site.BASE_PATH }}/{{ site.paginate_path | replace: ':num', paginator.previous_page }}">&larr; Newer</a>
    {% endif %}
  </li>
  {% else %}
  <li class="previous disabled">
    <a>&larr; Newer</a>
  </li>
  {% endif %}
  
  <li>
    <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  </li>

  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ site.BASE_PATH }}/{{ site.paginate_path | replace: ':num', paginator.next_page }}">Older &rarr;</a>
  </li>
  {% else %}
  <li class="next disabled">
    <a>Older &rarr;</a>        
  </li>
  {% endif %}

</ul>
